body{
    background-color: #D5E6F6;
}
h1{
    color: #EF3F8A;
    font-size: 120px;
    text-align: center;
}
h2{
    font-size: 50px;
    text-align: center;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: justify;
}

h5{
    text-align: right;
}